In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('student_list.csv')
df

,S.No.,Semester,Branch /Course,University Registration No. (Issued by R&S Branch),Date of Admission in the Present Class/Course,Roll No.,Spelling strictly as per Registration record in Capital Letters (Issued by R&S Branch)-SN,Spelling strictly as per Registration record in Capital Letters (Issued by R&S Branch)-FN,Gender,Religion,...,Fee Paid for Current Semester / (Previous semester if pending),mentors,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25
0,NaN,NaN,NaN,NaN,NaN,NaN,Name of Student,Father's Name,Male / Female,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1.0,5CSA1,B.Tech - Computer Science & Engineering,22/FET/0062,29.07.2025,1/22/FET/BCS/002,YASH VERMA,HEMANT VERMA,MALE,HINDUISM,...,0.0,Dr SURESH KUMAR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2.0,5CSA1,B.Tech - Computer Science & Engineering,22/FET/0063,29.07.2024,1/22/FET/BCS/003,KUMARI JAN NASHIN,PAWAN KUMAR,FEMALE,HINDUISM,...,0.0,Ms SAMEEKSHA KHARE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3.0,5CSA1,B.Tech - Computer Science & Engineering,22/FET/0064,29.07.2024,1/22/FET/BCS/004,MANAS RANJAN,MUKESH KUMAR RANA,MALE,HINDUISM,...,0.0,Dr INDU KASHYAP,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4.0,5CSA1,B.Tech - Computer Science & Engineering,22/FET/0065,29.07.2024,1/22/FET/BCS/005,SUMIT KUMAR CHAURASIA,GANESH CHAURASIA,MALE,HINDUISM,...,0.0,Dr RAVINDRA KUMAR CHAHAR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
617,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
618,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
619,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
620,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
621,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
rows,cols = df.shape
print(f"rows = {rows}\ncols = {cols}")

rows = 622
cols = 26

In [13]:
extracted_data = df[['Spelling strictly as per Registration record in Capital Letters (Issued by R&S Branch)-SN', 'Roll No.', 'mentors']]
extracted_data

,Spelling strictly as per Registration record in Capital Letters (Issued by R&S Branch)-SN,Roll No.,mentors
0,Name of Student,NaN,NaN
1,YASH VERMA,1/22/FET/BCS/002,Dr SURESH KUMAR
2,KUMARI JAN NASHIN,1/22/FET/BCS/003,Ms SAMEEKSHA KHARE
3,MANAS RANJAN,1/22/FET/BCS/004,Dr INDU KASHYAP
4,SUMIT KUMAR CHAURASIA,1/22/FET/BCS/005,Dr RAVINDRA KUMAR CHAHAR
...,...,...,...
617,NaN,NaN,NaN
618,NaN,NaN,NaN
619,NaN,NaN,NaN
620,NaN,NaN,NaN
621,NaN,NaN,NaN

In [16]:
filtered_data = extracted_data[extracted_data['Roll No.'] == '1/22/FET/BCS/049']
filtered_data

,Spelling strictly as per Registration record in Capital Letters (Issued by R&S Branch)-SN,Roll No.,mentors
45,NILESH BARAT,1/22/FET/BCS/049,Dr MONIKA SHAH